.container{
    padding: 0;
    margin: 0;
}
.wrapper{
    display: block;
    margin: auto;
    width: 60%;
    padding-top: 30px;
}
table{
    border: 1px solid;
    border-collapse: collapse;
}
.result{
    width: 292px;
    height: 30px;
    border: 2px solid black;
    background-color: #EDE6DB;
}
.global{
    width: 70px;
    height: 50px;
    background-color: #F8B400; 
}
.grey{
    width: 145px;
    height: 50px;
    background-color: #F8B400;
}
.green{
    width: 145px;
    height: 50px;
    background-color: #F8B400;
}
.plus{
    height: 102px;
    width: 70px;
    background-color: #F8B400;
}
td{
    border: 2px solid black;
    text-align: center;
    width: auto;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
}
p{
    font-family: 'Satisfy', cursive;
    padding-left: 70px;
}